@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
    width: 1280px;
    margin: 0 auto;
    background-color: var(--primary-color);
}
.header__logo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-top: 63px;
    /*color: #4BCAFF;*/
}
.header__logo span{
    color: #000000
}
.header__logo a{
    color: #4BCAFF;
}
.header__menu{
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
    height: 100%;
    margin-top: 38px;
    box-sizing: border-box;
}
.header__menu li:hover{
    background: #222F3A;
    transition: 0.5s linear;
}
.header__menu__list__item{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 72px;
    display: inline-block;
    align-items: flex-end;
    color: var(--primary-color);
    border-right: 1px solid var(--primary-color);
    padding-right: 32px ;
    padding-left: 32px;

}
.header__menu__list__item:first-child{
    border-left: 1px solid var(--primary-color);
}
:root{
    --primary-color: #ffff;
    --secondary-color: #35444F;
    --tertiary-color: #2C2C2C;
    --quaternary-color:rgba(99, 105, 110, 0.48)
}
.dark-theme{
    --primary-color: #ae98e8;
    --secondary-color: #216ea2;
    --tertiary-color: #216ea4;
    --quaternary-color: #5c6b8c
}
#theme_icon{
    padding-left: 60px;
    width: 10%;
    cursor: pointer;
}

.image__container, aside{
    display: inline-block;
}
.aside__menu{
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: left;
    margin-top: 48px;
    box-sizing: border-box;

}
/*.aside__menu__list{*/
/*    height: 81px;*/
/*}*/
.aside__menu li:hover{
    background: #5e5e5e;
    color: #000000;
    padding-left: 72px;
    transition: 0.5s linear;

}
.aside__menu__list__item{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
    width: 342px;
    padding-bottom: 27px;
    padding-top: 27px;
    padding-left: 44px;

}
/*.aside__menu__list__item:nth-child(1){*/
/*    margin-top: 26px;*/
/*}*/
/*.aside__menu__list__item:nth-child(5){*/
/*    margin-bottom: 30px;*/
/*}*/

.image__container{
    margin-top: 48px;
    float: right;
    width: 885px;
    height: 529px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.img{
    padding: 75px 269px 73px 297px;

}
.main__text1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--tertiary-color);
    margin-bottom: 34px;
    float: right;
    width: 885px;
}
.main__text2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--tertiary-color);
    margin-bottom: 54px;
    float: right;
    width: 885px;
}

.footer__menu{
    background: var(--quaternary-color);
    /*margin: 500px 0px 30px 0px;*/
    width: 1280px;
    justify-content: center;
    display: flex;
    height: 69px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 30px;
}
.footer__menu__list__item{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #0C1927;
    padding-right: 40px;

}
.footer__menu__list__item:nth-child(6){
    padding-left: 75px;
    color: #010101;
}
.footer__menu li:hover{
    color: #3181A6;
    text-decoration: underline;
    transition: 0.3s linear;
}